@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--bgdark);
}

/*setting base color scheme*/

:root {
    --linkcommon: #406fdb;
    --bgdark: #111213;
    --black: #000000;
    --oxford-blue: #14213d;
    --orange-web: #fca311;
    --platinum: #e5e5e5;
    --white: #ffffff;
}

/*nav stylings and states*/

.nav-bar{
    width: 98%;
    margin: auto;
}

.nav-wrapper {
    display: flex;
    padding-top: 10px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    text-align: center;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    list-style-type: none;
    padding-right: 16px;
    padding-left: 16px;
}

.nav-brand {
    display: flex;
    align-items: center;
    margin-left: 40px;
    margin-top: 5px;
    font-weight: 500;
}

.nav-brand>a {
    text-decoration: none;
    color: var(--platinum);
    margin-top: 5px;
    font-weight: 800;
}

.nav-links>li {
    margin-right: 40px;
    margin-top: 5px;
    font-weight: 500;
}

.nav-links>li>a {
    text-decoration: none;
    color: var(--platinum);
}

/*nav logo animation*/

.nav-brand > a{
    animation: gradanimate 15s infinite alternate;
    background-color: #FBDA61;
    background-image: -webkit-linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
    background-image: -moz-linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
    background-image: -o-linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
    background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
    -webkit-background-clip: text;
    background-size: 400%;
    background-position: left;
    color: transparent;
    font-size: 1.75em;
}

@keyframes gradanimate {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
    }
}

.nav-links>li>a:hover{
    opacity: 0.5;
    cursor: pointer;
}

/*footer styling and states*/

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    /* Footer height */
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    list-style-type: none;
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 10px;
}

.fa-github,.fa-instagram,.fa-discord {
    color: var(--white);
    padding-right: 35px;
}

.social-links:hover > li{
    opacity: 0.5;
    cursor: pointer;
}

.social-links:hover>li:hover {
    opacity: 1.0;
    cursor: pointer;
}

/*hero styling*/

.hero-landing{
    width: 65%;
    margin: auto;
    padding-top: 5%;
    text-align: start;
}

.hero-landing > .hero-title{
    text-align: center;
}

.hero-title > h1{
    width: 85%;
    margin: auto;
    font-weight: 600;
    color: var(--white);
    font-size: 2.1em;
}

.hero-title > h3{
    padding-top: 2.5%;
    font-weight: 300;
    color: var(--white);
    opacity: 50%;
}

/*hero button styling*/

.hero-buttons{
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.hero-buttons > a{
    color: var(--white);
    background-color: var(--linkcommon);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 16px 32px;
    text-decoration: none;
    font-weight: 500;
    border-radius: 8px;
    font-size: 16px;
    transition: opacity .2s ease-in;
}

.hero-buttons>a:hover{
    opacity: 75%;
}



